$ctaHover: hsl(322, 100%, 80%);

$bg: hsl(191, 89%, 96%);
// var ^

$colors: (
	primary: (
		pink: hsl(322, 100%, 66%),
	),

	neutral: (
		pale-cyan: hsl(193, 100%, 96%),
		dark-cyan: hsl(192, 100%, 9%),
		grayish-cyan: hsl(208, 11%, 55%), 
	),
);