@use '../base/' as *;
@use '../util' as *;

.header {
    padding-block: rem(26);
    padding-inline: rem(16);

    margin-bottom: rem(90);

    @include breakpoint(medium) {
        padding-block: rem(55);
        padding-inline: rem(75);
    }

    nav {
        justify-content: space-between;
    }

    &__logo {

        img {
            width: rem(106);
            height: rem(18);

            @include breakpoint(medium) {
                width: rem(250);
                height: rem(40);
            }
        }
    }

    &__cta {
        font-size: rem(12);
        font-weight: $f-semibold;
        
        width: rem(115);

        border: 0 solid none;
        border-radius: rem(100);
        box-shadow: 0 8px 30px rgba(193, 200, 209, 0.477);
        background-color: #fff;
        
        padding: em(10);

        transition: color 350ms ease-in-out;
        
        &:hover {
            cursor: pointer;
            color: clr(neutral, grayish-cyan);
            
            transition: all 250ms;
        }
        
        &:active {
            transform: scale(0.95);
        }
        
        @include breakpoint(medium) {
            font-size: rem(16);

            width: rem(190);

            padding: em(16);
        }
    }
}